@use "_variables.scss" as *;
@use "_functions.scss" as *;
@use "_mixins.scss" as *;

@use "@/assets/scss/_root.scss" as *;
@use "@/assets/scss/_reboot.scss" as *;
@use "@/assets/scss/_buttons.scss" as *;
@use "@/assets/scss/_forms.scss" as *;
@use "@/assets/scss/_tables.scss" as *;
@use "@/assets/scss/_dropdowns.scss" as *;
@use "@/assets/scss/_alerts.scss" as *;

body {
  @include bp-md-tablet {
    background: url("~/assets/img/background.jpg") no-repeat center center fixed;
    background-size: cover;
  }
}

main.main {
  padding: 1rem; // 16px
  background-color: $white;
  @include bp-md-tablet {
    margin: 1rem; // 16px
    padding: 1.625rem; // 26px
    @include shadow-2();
  }
  @include bp-xl-desktop {
    max-width: $max-width;
    margin-right: auto;
    margin-left: auto;
  }
}

// Utility classes
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
