// Default layout styles
@use "_variables.scss" as *;
@use "_functions.scss" as *;

.default-layout {
  min-height: 100vh;
  background-color: $body-bg;
  color: $body-color;
  // Add your default layout styles here
}
